<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:'flex flex-col gap-2'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div id='user-name' class="field">
    <%= f.text_field :name, class:'border p-2 w-full', placeholder:'Name', autofocus: true, autocomplete: "name" %>
  </div>

  <div id='user-bio' class="field">
    <%= f.text_field :bio, class:'border p-2 w-full', placeholder:'Bio',autofocus: true, autocomplete: "bio" %>
  </div>

  <div id='user-photo' class="field">
    <%= f.text_field :photo, class:'border p-2 w-full', placeholder:'Photo',autofocus: true, autocomplete: "photo" %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, class:'border p-2 w-full', placeholder:'Email',autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, class:'border p-2 w-full', placeholder: :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, class:'border p-2 w-full', placeholder: :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions my-4">
    <%= f.submit "Sign up", class:'border p-2 w-full' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
