<div class="border-4 p-2">
  <p>Written by: <%= @post.author.name %></p>
  <h4><%= @post.title %></h4>
  <p><%= @post.text %></p>
  <div class="flex gap-2 justify-end">
    <div class="flex gap-2">
      <p>Comments:</p>
      <p><%= @post.comments_count %></p>
    </div>
    <div class="flex gap-2">
      <p>Likes:</p>
      <p><%= @post.likes_count %></p>
    </div>
  </div>
</div>

<ul class="comments w-full m-0 p-0 border-4">
  <% @post.comments.each do |comment|%>
    <%= render partial: "partials/comments", locals: {comment: comment}%>
  <% end %>
</ul>

<div class="my-2 border-4">
  <%= render partial: "partials/new_comment", locals: {post:@post}%>
</div>

<div class="my-2 border-4">
  <%= render partial: "partials/like", locals: {post:@post}%>
</div>

<div class="flex justify-center m-4">
<%= link_to 'Back to all posts', user_posts_path(@post.author), class:"cursor-pointer"%>
</div>